.about-con {
  min-height: 80vh;
  background-color: rgb(39, 39, 39);
  width: 100%;
  color: white;
}

.second-con {
  display: flex;
  align-items: center;
}

.about-img-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 30%;
  padding: 80px;
  padding-right: 0;
}

.n-img {
  height: 35%;
  width: 35%;
  border-radius: 10px;
}

.about-text {
  height: 80%;
  width: 50%;
  padding: 50px;
  padding-left: 50px;
  color: rgb(129, 129, 129);
}

.about-text ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.about-text li {
  list-style: none;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .second-con {
      flex-direction: column;
    }

    .about-img-con {
      width: 100% !important;
      padding: 0 !important;
      margin: 40px 0 40px 0;
    }
  
    .about-text {
      width: 80% !important;
      padding: 0 25px 25px 25px !important;
    }  
}