.projects-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(32, 32, 32);
  padding-top: 30px;
  width: 100%;
}

.projects-con h1 {
  margin: 0;
}

.projects-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
  width: auto;
  margin: 0;
  margin-bottom: 100px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fdd95b;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 15px;
}

.proj-img {
  height: 150px;
  border-radius: 10px;
}

.btn-modal {
  font-size: larger;
  font-weight: bolder;
  padding: 20px;
  background-color: #804148;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius:  10px;
  border-bottom-right-radius:  10px;
  cursor: pointer;
}

.proj-img-con {
  display: flex;
  justify-content: center;
  padding: auto;
  width: 100%;
  margin-bottom: 20px;
}

.proj-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 10px 20px;
  text-align: center;
}

.card-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 370px) {
  .proj-img {
    height: 95px !important;
  }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 80%;
        column-gap: 0;
        row-gap: 20px;
    }

    .proj-img {
      height: 115px;
      width: auto;
    }
}